.nome{width: 100% ;text-align: center;background-color: orange; padding: 10;}

.foto_e_descricao {max-width: 100%; width: 100%; background-color: olive;}
.foto {width: 200px;}
.descricao{height: 200px;;max-width: 800px; min-width:100% ; background-color: orange; }
.foto_e_descricao_container {background-color: #ba0104;padding: 5px;
                             display: inline-block;align-content:space-around;}
.tudo {width: 100%;}

/* {
margin: 0;
padding: 0;
}*/

/* Fonte de consulta para a origem da fonte "Ubuntu":https://fonts.google.com */

/*Define a cor de background*/
body {background-color:#300a24}
/*Define a cor da fonte para a página*/
body {color: #d5d4c1}
body {font-family: 'Ubuntu Mono', monospace;}

.h2{text-align: right;}
.texto {text-align: justify;}

.programacao{color:#ba0104}
.nome {color: #4b9507}
h2 {color: #346196}
h3 {color: #346196}
ol {color: #4b9507}
.indice {color: #4b9507}
