.nome{width: 100% ;text-align: center; top:5px;}
.foto_e_descricao {max-width: 100%; min-width: 30%; background-color: olive;}
.foto {width: 200px;position: absolute;top:70px;left:15px;}
.descricaoT {position: absolute;top:45px;left:250px;right:10px}
.descricao {position: absolute;top:85px;left:250px;right:100px;max-width: 100%;min-width:70% ;text-align: justify;}
.skills {position:absolute;top:280px;left:15px;}
sobre {position: absolute;left: 250px; top:100}

/* {
margin: 0;
padding: 0;
}*/

/* Fonte de consulta para a origem da fonte "Ubuntu":https://fonts.google.com */

/*Define a cor de background*/
body {background-color:#300a24}
/*Define a cor da fonte para a página*/
body {color: #d5d4c1}
body {font-family: 'Ubuntu Mono', monospace;}

.h2{text-align: right;}
.texto {text-align: justify;}

.programacao{color:#ba0104}
.nome {color: #4b9507}
h2 {color: #346196}
h3 {color: #346196}
ol {color: #4b9507}
.indice {color: #4b9507}
