.nome{top:5px;right:30px;left:30px;text-align:center;background-color:#ffffff;margin-left: 5px;margin-right: 5px;}
.foto_e_descricao {max-width: 100%; min-width: 30%;}
.foto {width: 200px;position: absolute;top:70px;left:15px;background-color: #2fc18c;padding: 10px;}
.descricaoT {position: absolute;top:45px;left:250px;right:10px}
.descricao {position: absolute;top:85px;left:250px;right:100px;max-width: 100%;min-width:70% ;text-align: justify;}
.skills {position:absolute;top:280px;left:15px;}
.sobre {position: absolute;left: 250px; top:100}
.softwares2 {font-style:italic}

.impar {color: #2fc18c}

/* {
margin: 0;
padding: 0;
}*/

/* Fonte de consulta para a origem da fonte "Ubuntu":https://fonts.google.com */

/*Define a cor de background*/
body {background-color:#ffffff}
/*Define a cor da fonte para a página*/
.tudo {color: #3b3b3b}
body {font-family: 'Ubuntu Mono', monospace;}
h2 {color: #2fc18c}
h3 {color: #2fc18c}
.texto {text-align: justify;}
.programacao{color:#2fc18c}
.sites {color:#2fc18c}

.indice {color:#2fc18c}

/* Itens ímpar */
/*Fonte de referência do código:https://gist.github.com/douglasmiranda/1270746 */
.HGList :nth-child(odd){color:#2fc18c;}


